<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794243740421-sbtjih9su55tr6s2qn0921qop0u80k5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794243740421-sbtjih9su55tr6s2qn0921qop0u80k5c</string>
	<key>API_KEY</key>
	<string>AIzaSyCo_ZUPcIRbhAZWWaVC5_NMeOitd0vwTek</string>
	<key>GCM_SENDER_ID</key>
	<string>794243740421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ralphevmanzano.loveBook</string>
	<key>PROJECT_ID</key>
	<string>love-book-bd315</string>
	<key>STORAGE_BUCKET</key>
	<string>love-book-bd315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794243740421:ios:967aa27e0f178da3597d6c</string>
	<key>DATABASE_URL</key>
	<string>https://love-book-bd315.firebaseio.com</string>
</dict>
</plist>